$primary: #EFEFEF;
$secondary: #A9A9A9;
$tertiary: #CAEBF2;
$button: rgb(109, 134, 245);
$border-radius: 3px;
$border-color: #5e5c5c;
$form-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;